/* Generics */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,700&family=Heebo&family=Spinnaker&display=swap');

.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heebo-regular {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-title {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}


:root{  
  --bs-primary: #B2CF82; /*divs bg*/
  --bs-primary-bg-subtle: #B2CF82;
  --bs-secondary: #E9AE79; /*footer*/
  --bs-secondary-bg-subtle:#E9AE79;
  --bs-tertiary-bg: #E3CED7; /* search bar */
  --bs-tertiary-color: hsla(335, 26%, 66%, 0.90); /* MENU*/
  --bs-warning: #ffc107;

  --bs-body-color: #060901;/*done*/
  --bs-body-bg: #F7FAF3;/*done*/
  
}

/* A SER ALTERADO */
.custom-tooltip {
  --bs-tooltip-bg: #E3CED7;
  --bs-tooltip-color: #060901;
}

h1{
  font-family: "Exo" ;
  margin-bottom: 0px;
}
h2 , h3{
  font-family: "Spinnaker";
}
p , ul{
  font-family: "Heebo";
}



/* Generics end */

/* Header */

.menubtn{
  height: 6em;
}
.dropdown-menu.show{

}

/* Header end */


/* Index */
/*.indexbg1{
  width: 500%;
  margin-left: -200%;
}*/
.indexbg::before {
    content: "";
    position: absolute;
    top: 90px;
    left: -20;
    right: -20;
    bottom: 0;
    background-image: url("../media/elements/indexbg.jpg") ;
    background-repeat: repeat;
    z-index: -1;
    width: 500%;
    
  }


.introimgdiv{

}
.introimg{
 /* height: 200px;*/
  width: 200vw;
  overflow: hidden;
  
}

.introicons{
  min-height: 60px;
  background-color: #E9AE79;
  border-radius: 50px;
}

/* Index end */



/* Footer */

.linksf{
  list-style: none;
}
/* Footer end */
