/* Vars */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,700&family=Heebo&family=Spinnaker&display=swap');


.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heebo-regular {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-bold-italic {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}
:root{

}


/* fim de header */
.container{
  overflow: hidden;
}

.pitch{
  font-family: "Spinnaker";
  text-transform: uppercase;

}

.introimgdiv{

}
.introimg{
  height: 200px;
  overflow: hidden;
  
}

.introicons{
  min-height: 60px;
  background-color: #E9AE79;
  border-radius: 50px;
  margin:6px;
}



#fwave{
  fill: #E9AE79"
}
.fwave{
  
}